<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="helloFormatter" class="com.nisum.HelloFormatter">
        <property name="preffix" value="XXXXXXXX-"/>
    </bean>

    <bean name="helloServiceGERMAN" class="com.nisum.HelloService">
        <property name="formatter" ref="helloFormatter" />
        <property name="standardOutputLogger" ref="messageStandardOutput"/>
    </bean>

    <bean name="helloServiceGERMANAUTOBEAN" class="com.nisum.HelloService">
        <property name="formatter">
            <bean class="com.nisum.HelloFormatter">
                <property name="preffix" value="YYYYYYYY-"/>
            </bean>
        </property>
    </bean>


    <bean name="messageStandardOutput" class="com.nisum.StandardOutputLogger">
        <property name="message" value="Good Morning!!!!!"/>
    </bean>

</beans>